.header__email {
  margin: 0;
  margin-right: 24px;
  padding: 0;
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  color: #ffffff;
}

@media screen and (max-width: 400px) {
  .header__email {
    margin-bottom: 18px;
    margin-top: 40px;
  }
}
