.header__burger {
  position: absolute;
  top: 32px;
  right: 34px;
  display: none;
  width: 24px;
  height: 3px;
  background-color: #ffffff;
}

.header__burger::before {
  content: "";
  position: absolute;
  top: 8px;
  width: 24px;
  height: 3px;
  background-color: #ffffff;
}

.header__burger::after {
  content: "";
  position: absolute;
  top: 16px;
  width: 24px;
  height: 3px;
  background-color: #ffffff;
}

.header__burger::before.header__burger_opened {
  top: 0;
}

.header__burger:hover {
  opacity: 0.4;
}
